@media only screen and (max-width: 1300px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .middle {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 50px;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px) {
    .toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
    }
    .toggle .line {
        width: 30px;
        height: 3px;
        background: grey;
        margin: 6px 0;
    }
    .nav-bar {
        position: absolute;
        height: 0;
        top: 120px;
        left: 0;
        right: 0;
        width: 100vw;
        background: white;
        transition: 0.3s;
        overflow: hidden;
        max-height: 350px;
    }
    .nav-bar.active{
        height: 450px;
        margin-top: 10px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .top-link {
        font-size: 30px;
    }
    .products {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 0px;
    }
    .product-top {
        filter: none;
    }
    h1 {
        top: 65%;
    }
}

@media only screen and (max-width: 640px) {
    .middle {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-content p {
        font-size: 16px;
    }
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .top-link {
        font-size: 20px;
    }
    section.top {
        background-position: bottom;
    }
    .about-content p {
        font-size: 14px;
        padding: 50px;
    }
    .middle img {
        padding: 10px 0px;
    }
    .bottom-images img {
        width: 300px;
    }
    .diy-top,
    .diy-middle {
        background-position: bottom;
    }
}

